<div class="links-container" style="display: grid;margin: 60px auto;width: 70%;row-gap: 5%;">
  <div class="card-container"
    style="display: flex; justify-content: space-around; width: 100%;grid-row-start: 1;grid-row-end: 1;">
    <a routerLink="/admin/agents">
      <mat-card matRipple class="link-card mat-elevation-z6">Agents</mat-card>
    </a>
    <a routerLink="/admin/equipements">
      <mat-card matRipple class="link-card mat-elevation-z6">Equipements</mat-card>
    </a>
    <a href="#">
      <mat-card matRipple class="link-card mat-elevation-z6">Link</mat-card>
    </a>
  </div>
  <div class="card-container"
    style="display: flex; justify-content: space-around; width: 100%;grid-row-start: 2;grid-row-end: 2;">
    <a href="#">
      <mat-card matRipple class="link-card mat-elevation-z6">Link</mat-card>
    </a>
    <a href="#">
      <mat-card matRipple class="link-card mat-elevation-z6">Link</mat-card>
    </a>
    <a href="#">
      <mat-card matRipple class="link-card mat-elevation-z6">Link</mat-card>
    </a>
  </div>
</div>
