 <form [formGroup]="affectationFormGroup" (ngSubmit)="onSubmit()">
   <mat-vertical-stepper class="mat-elevation-z8" style="padding: 50px;width: 60%;margin: auto;"
     formArrayName="formArray" orientation="vertical" #stepper>
     <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
       <ng-template matStepLabel>Numéro du Mouvement</ng-template>
       <mat-form-field appearance="fill">
         <mat-label>Numero Mouvement</mat-label>
         <input type="text" matInput placeholder="N° Du mouvement" formControlName="mvtControl" [value]="lastMvt">
       </mat-form-field>
       <div>
         <button mat-button matStepperPrevious type="button">Back</button>
         <button mat-button matStepperNext type="button">Next</button>
       </div>
     </mat-step>
     <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
       <ng-template matStepLabel>Sélection d'Agent</ng-template>
       <p>Selectionnez un Agent</p>
       <mat-form-field appearance="fill">
         <mat-label>Agent</mat-label>
         <mat-select formControlName="agentControl">
           <mat-option>
             <ngx-mat-select-search (keyup)="applyFilter($event)" placeholderLabel="Rechercher..."
               noEntriesFoundLabel="404">
             </ngx-mat-select-search>
           </mat-option>
           <mat-option *ngFor="let a of agents |searchAgentMat:searchTxt" (onSelectionChange)="onSelectAgent($event)"
             [value]="a">
             {{a.matricule}} &#8212; {{a.nom}} {{a.prenom}}
           </mat-option>
         </mat-select>
       </mat-form-field>
       <div>
         <button mat-button matStepperPrevious type="button">Back</button>
         <button mat-button matStepperNext type="button">Next</button>
       </div>

     </mat-step>
     <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
       <ng-template matStepLabel>Equipements à Réstitués</ng-template>
       <mat-form-field appearance="fill">
         <mat-label>Equipements</mat-label>
         <mat-select multiple formControlName="equipementControl">

           <mat-option (onSelectionChange)="onSelect($event)" [value]="e" *ngFor="let e of selectedAgent.equipements">
             {{e.codeONE}}/{{e.serieConstructeur}}
           </mat-option>

         </mat-select>
       </mat-form-field>
       <div>
         <button mat-button matStepperPrevious type="button">Back</button>
         <button mat-button matStepperNext type="button">Next</button>
       </div>
     </mat-step>

     <mat-step>
       <ng-template matStepLabel>Confirmation</ng-template>
       <p>Confirmez vos choix pour effectuez l'opération.</p>
       <div>
         <button mat-raised-button color="primary" type="submit"
           [disabled]="!affectationFormGroup.valid">Confirmer</button>
         <button mat-button type="button" (click)="reset();stepper.reset();">Reinitialiser</button>
       </div>
     </mat-step>

   </mat-vertical-stepper>
 </form>
