 <form [formGroup]="affectationFormGroup" (ngSubmit)="onSubmit()">
   <mat-vertical-stepper class="mat-elevation-z8" style="padding: 50px;width: 60%;margin: auto;"
     formArrayName="formArray" orientation="vertical" #stepper>
     <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
       <ng-template matStepLabel>Numéro du Mouvement</ng-template>
       <mat-form-field appearance="fill">
         <mat-label>Numéro Mouvement</mat-label>
         <input type="text" matInput placeholder="N° Du mouvement" formControlName="mvtControl" [value]="lastMvt">
       </mat-form-field>
       <div>
         <button mat-button matStepperPrevious type="button">Retour</button>
         <button mat-button matStepperNext type="button">Next</button>
       </div>
     </mat-step>
     <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
       <ng-template matStepLabel>Selection d'Equipements</ng-template>
       <mat-form-field appearance="fill">
         <mat-label>Equipements</mat-label>
         <mat-select multiple formControlName="equipementControl">
           <mat-option>
             <ngx-mat-select-search (keyup)="applyFilter($event)" placeholderLabel="Rechercher..."
               noEntriesFoundLabel="404"></ngx-mat-select-search>
           </mat-option>
           <mat-optgroup [label]="t.nom" *ngFor="let t of types">
             <mat-option (onSelectionChange)="onSelect($event)" [value]="e"
               *ngFor="let e of t.equipement|equipementFilter | search : searchTxt">
               {{e.codeONE}}/{{e.serieConstructeur}}
             </mat-option>
           </mat-optgroup>
         </mat-select>
       </mat-form-field>
       <div>
         <button mat-button matStepperPrevious type="button">Retour</button>
         <button mat-button matStepperNext type="button">Suivant</button>
       </div>

     </mat-step>
     <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
       <ng-template matStepLabel>Selection d'Agent</ng-template>
       <p>Selectionnez un Agent</p>
       <mat-form-field appearance="fill">
         <mat-label>Agent</mat-label>
         <mat-select formControlName="agentControl">
           <mat-option>
             <ngx-mat-select-search (keyup)="applyFilter($event)" placeholderLabel="Rechercher..."
               noEntriesFoundLabel="404"></ngx-mat-select-search>
           </mat-option>
           <mat-option *ngFor="let a of agents|searchAgentMat:searchTxt" [value]="a">
             {{a.matricule}} &#8212; {{a.nom}} {{a.prenom}}
           </mat-option>
         </mat-select>
       </mat-form-field>
       <div>
         <button mat-button matStepperPrevious type="button">Retour</button>
         <button mat-button matStepperNext type="button">Suivant</button>
       </div>

     </mat-step>
     <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
       <ng-template matStepLabel>Date Fin du pret</ng-template>
       <mat-form-field appearance="fill" class="example-form-field">
         <mat-label>Choisir une date</mat-label>
         <input matInput [matDatepicker]="datepicker" (dateInput)="dateEventHandler($event)"
           (dateChange)="dateEventHandler($event)" formControlName="dateFinPretCtrl" [min]="currentDate">
         <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
         <mat-datepicker #datepicker>
           <mat-datepicker-actions>
             <button mat-button matDatepickerCancel>Annuler</button>
             <button mat-raised-button color="primary" matDatepickerApply>Appliquer</button>
           </mat-datepicker-actions>
         </mat-datepicker>
       </mat-form-field>
       <div>
         <button mat-button matStepperPrevious type="button">Retour</button>
         <button mat-button matStepperNext type="button">Reinitialiser</button>
       </div>

     </mat-step>

     <mat-step>
       <ng-template matStepLabel>Confirmation</ng-template>
       <p>Confirmez vos choix pour effectuez l'opération.</p>
       <div>
         <button color="primary" mat-raised-button type="submit"
           [disabled]="!affectationFormGroup.valid">Confirmer</button>
         <button mat-button type="button" (click)="reset();stepper.reset();">Reset</button>
       </div>
     </mat-step>

   </mat-vertical-stepper>
 </form>
