<div class="mat-elevation-z10" style="width: 40%;margin: 20px auto;padding:50px;">
  <mat-card style="margin-bottom: 30px;"></mat-card>
  <form style="display: grid;" (ngSubmit)="onSubmit();reset()" [formGroup]=" addGammeFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="typeCtrl">
        <mat-option *ngFor=" let t of types" [value]="t">{{t.nom}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div formArrayName="gammes" *ngFor="let gamme of gammes().controls; let i=index">
      <mat-form-field appearance="fill" [formGroupName]="i">
        <mat-label>Code Gamme</mat-label>
        <input type="text" matInput formControlName="code">
      </mat-form-field>
      <mat-form-field appearance="fill" [formGroupName]="i">
        <mat-label>caracteristiques</mat-label>
        <input type="text" matInput formControlName="caracteristiques">
      </mat-form-field>
      <button mat-mini-fab color="secondary" (click)="removeGammeField(i)" type="button">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
    <button mat-mini-fab color="secondary" (click)="addGammeField()" type="button">
      <mat-icon>add</mat-icon>
    </button>

    <button style="width:20%; margin-top: 30px;" mat-raised-button color="primary" type="submit"
      [disabled]="!addGammeFormGroup.valid">Submit</button>

  </form>
</div>
