.spacer {
  flex: 1 1 auto;
}
.page-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.header {
  flex: 0 1 auto;
}

.container {
  flex: 1 1 auto;
}

@media print {
  .header {
    display: none;
  }
}
